input {
    width: 400px;
}

input, button {
    display: inline-block;
    padding: 0.5rem;
}

table {
    border-collapse: collapse;
    margin-bottom: 1em;
}

table,th,td {
    border:solid black 1px;
    padding: 0.5em;
}
thead {
    background-color: lightskyblue;
}