{% extends 'base.html.twig' %}

{% block title %}Edit todo{% endblock %}

{% block content %}

<body>
    <header>
        <h1>Edit todo</h1>
    </header>
    <main>
        <form action="{{ path('update_todo', {'id': task.id}) }}" method="POST">
        <fieldset>
        <legend>Edit todo</legend>
            <input type="text" name="todo" value="{{task.todo}}" required>
            <button type="submit" class='button edit-todo-button'>Submit edit</button>
        </fieldset>
        </form>
        <p><a href="{{ path('app_todo_crud') }}" class='button back-button'>Back to todos</a></p>
    </main>
</body>

{% endblock %}